{% extends 'userApp/base.html' %}
{% load static %}


{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/profiles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">

{% endblock %}
{% block content %}
<div id="searchDiv" class="showSearch">
    <input type="text" id="searchField" placeholder="Search...">
    <div id="searchResults">
        {% for name in userDataList %}
        <a href="#" class="btn btn-light search-name" id="search-id" data-search="{{ name }}">{{ name
            }}</a>
        {% empty %}
        <p>No search results found.</p>
        {% endfor %}
    </div>
    <!-- <div>hello</div> -->
    <!-- <button id="searchSubmit">Submit</button>x -->
</div>
<div class="sidebar" id="sidebar">
    <!-- <div class="dynamic-image">
        <img src="{% static 'login_register/images/home1.png' %}" alt="" id="animated-image">
    </div> -->
    <!-- <div class="offcanvas-body"> -->
    <a href="{% url 'home' %}" class="btn btn-light">Home</a>
    <a href="#" class="btn btn-light" id="searchBtn">Search</a>

    <!-- Button trigger modal -->
    <button id="myBtn" class="btn btn-light">Create</button>

    <!-- The Modal -->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>

            <form method="post" action="{% url 'posts' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <h3>Create new post</h3>
                {{ form.errors }}
                <label for="file-upload" class="btn btn-primary" id="but">
                    <i class="fas fa-cloud-upload-alt"></i> Select from your device
                </label>
                <input id="file-upload" type="file" style="display: none;" name="image">
                <textarea type="text" class="custom-input" name="caption" placeholder="Enter your caption"></textarea>
                <button id="myBtn2" class="btn btn-primary">Post</button>

            </form>


        </div>

    </div>

    <!-- Modal -->
    <a href="https://google.com" class="btn btn-light">Messages</a>
    <a href="{% url 'profile' %}" class="btn btn-light">Profile</a>
    <a href="{% url 'login' %}">Log out</a>

    <!-- </div> -->

</div>
<div class="header">
    <h1>Profile</h1>
    <div class="header-content">
        <div class="username-settings">
            <h3>{{ username }}</h3>
            <a href="" class="btn btn-primary"> Edit Profile</a>
            <a href="{% url 'follow_unfollow' username=username %}" class="btn btn-primary">
                {% if is_following %}
                Unfollow
                {% else %}
                Follow
                {% endif %}
            </a>
        </div>
        <div class="post-follow">
            <div class="posts">
                <p>{{post_count}}</p>
                <p>Posts</p>
            </div>
            <div class="followers">
                <p>{{following}}</p>
                <p>Followers</p>
            </div>
            <div class="following">
                <p>{{followers}}</p>
                <p>Following</p>
            </div>
        </div>
        <div class="bio">
            {{bio}}
        </div>
    </div>
</div>
</div>
<div class="post-section">
    <div class="post-content">
        <div class="img-contain">
            {% for post in posts %}
            <img src="{{ post.image.url }}" alt="{{ post.caption }}" id="post-img">
            {% endfor %}
        </div>

    </div>

</div>

{% endblock %}
{% block script %}
<script src="{% static 'js/home.js' %}"></script>
{% endblock %}