{% extends 'userApp/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
{% endblock %}
{% block content %}
<div class="sidebar">
    <div class="offcanvas-body">
        <a href="https://google.com" class="btn btn-primary">Home</a>
        <a href="https://google.com" class="btn btn-primary">Search</a>
        <!-- Button trigger modal -->
        <button id="myBtn" class="btn btn-primary">Create</button>

        <!-- The Modal -->
        <div id="myModal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
                <span class="close">&times;</span>

                <form method="post" action="{% url 'posts' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h3>Create new post</h3>
                    {{ form.errors }}
                    <label for="file-upload" class="btn btn-primary" id="but">
                        <i class="fas fa-cloud-upload-alt"></i> Select from your device
                    </label>
                    <input id="file-upload" type="file" style="display: none;" name="image">
                    <textarea type="text" class="custom-input" name="caption"
                        placeholder="Enter your caption"></textarea>
                    <button id="myBtn2" class="btn btn-primary">Post</button>

                </form>


            </div>

        </div>

        <!-- Modal -->
        <div class="modal">
            <div class="modal-content">

            </div>
        </div>
        <a href="https://google.com" class="btn btn-primary">Messages</a>
        <a href="{% url 'profile' %}" class="btn btn-primary">Profile</a>
        <a href="{% url 'login' %}">Log out</a>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on the button, open the modal
    btn.onclick = function () {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

</script>
{% endblock %}