{% extends 'userApp/base.html' %}
{% include 'userApp/sidebar.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
{% endblock %}
{% block content %}

<div id="searchDiv" class="showSearch">
    <input type="text" id="searchField" placeholder="Search...">
    <div id="searchResults">
        {% for name in userDataList %}
        <a href="#" class="btn btn-light search-name" id="search-id" data-search="{{ name }}">{{ name
            }}</a>
        {% empty %}
        <p>No search results found.</p>
        {% endfor %}
    </div>
    <!-- <div>hello</div> -->
    <!-- <button id="searchSubmit">Submit</button>x -->
</div>
<div class="sidebar" id="sidebar">
    <!-- <div class="dynamic-image">
        <img src="{% static 'login_register/images/home1.png' %}" alt="" id="animated-image">
    </div> -->
    <!-- <div class="offcanvas-body"> -->
    <header class="sidebar-header">
        <img src="../../static/icons/logo.svg" class="logo-img">
    </header>

    <div class="nav">
        <a href="{% url 'home' %}" class="btn btn-light">
            <i class='bx bx-home'></i><span>Home</span></a>
        <a href="#" class="btn btn-light" id="searchBtn"><i class='bx bx-search'></i><span>Search</span></a>

        <!-- Button trigger modal -->
        <button id="myBtn" class="btn btn-light"><i class='bx bx-plus-circle'></i><span>Create</span></button>

        <!-- The Modal -->
        <div id="myModal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
                <div class="close">&times;</div>
                <form method="post" action="{% url 'posts' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h3>Create new post</h3>
                    {{ form.errors }}
                    <label for="fileInput" class="file-label">
                        <input id="fileInput" type="file" class="file-input" accept="image/*" name="image">
                        <span class="file-button">Select from your device</span>
                    </label>
                    <textarea type="text" class="custom-input" name="caption"
                        placeholder="Enter your caption"></textarea>
                    <button id="myBtn2" class="btn btn-primary">Post</button>
                </form>


            </div>

        </div>

        <!-- Modal -->
        <a href="https://google.com" class="btn btn-light"><i class='bx bxl-messenger'></i><span>Messages</span></a>
        <a href="{% url 'profile' %}" class="btn btn-light"><img src="{{ profile_img.url }}" alt="" class="profile-img">
            <span>Profile</span></a>

        <!-- </div> -->
    </div>
    <div class="log-out">
        <a href="{% url 'logout' %}">Log out</a>
    </div>
</div>
<div class="feed">
    <div class="feed-content">
        <h1>Feed</h1>
        <div class="post-section">
            {% for post in posts %}
            <div class="post">
                <div class="img-username">
                    <img src="{{ post.user_id.profile_image.url }}" alt="">
                    <h5>{{ post.user_id.username }}</h5>
                </div>
                <img src="{{ post.image.url }}" alt="{{ post.caption }}" id="post-img">
                <!-- <div id="myIcons" class="btn btn-light"><i class='bx bx-heart'></i></div>
                <div class="likes"><strong>Liked by {{likes}} people</strong></div> -->
                <div class="caption-div">
                    <p><strong>{{ post.user_id.username }}</strong> &nbsp;&nbsp;&nbsp;&nbsp;{{ post.caption }}</p>
                </div>
                <div class="end-box"></div>
            </div>

            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script src="{% static 'js/home.js' %}"></script>
{% endblock %}
