{% extends 'userApp/base.html' %}
{% load static %}


{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/profiles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
{% endblock %}
{% block content %}
<div id="searchDiv" class="showSearch">
    <input type="text" id="searchField" placeholder="Search...">
    <div id="searchResults">
        {% for name in userDataList %}
        <a href="#" class="btn btn-light search-name" id="search-id" data-search="{{ name }}">{{ name
            }}</a>
        {% empty %}
        <p>No search results found.</p>
        {% endfor %}
    </div>
    <!-- <div>hello</div> -->
    <!-- <button id="searchSubmit">Submit</button>x -->
</div>
<div class="sidebar" id="sidebar">
    <!-- <div class="dynamic-image">
        <img src="{% static 'login_register/images/home1.png' %}" alt="" id="animated-image">
    </div> -->
    <!-- <div class="offcanvas-body"> -->
    <header class="sidebar-header">
        <img src="../../static/icons/logo.svg" class="logo-img">
        <!-- <i class="logo-icon bx bxl-instagram"></i> -->
    </header>

    <div class="nav">
        <a href="{% url 'home' %}" class="btn btn-light">
            <i class='bx bx-home'></i><span>Home</span></a>
        <a href="#" class="btn btn-light" id="searchBtn"><i class='bx bx-search'></i><span>Search</span></a>

        <!-- Button trigger modal -->
        <button id="myBtn" class="btn btn-light"><i class='bx bx-plus-circle'></i><span>Create</span></button>

        <!-- The Modal -->
        <div id="myModal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
                <span class="close">&times;</span>

                <form method="post" action="{% url 'posts' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h3>Create new post</h3>
                    {{ form.errors }}
                    <label for="file-upload" class="btn btn-primary" id="but">
                        <i class="fas fa-cloud-upload-alt"></i> Select from your device
                    </label>
                    <input id="file-upload" type="file" style="display: none;" name="image">
                    <textarea type="text" class="custom-input" name="caption"
                        placeholder="Enter your caption"></textarea>
                    <button id="myBtn2" class="btn btn-primary">Post</button>

                </form>


            </div>

        </div>

        <!-- Modal -->
        <a href="https://google.com" class="btn btn-light"><i class='bx bxl-messenger'></i><span>Messages</span></a>
        <a href="{% url 'profile' %}" class="btn btn-light"><img src="{{ profile_pic.url }}" alt="" class="profile-img">
            <span>Profile</span></a>
        <a href="{% url 'login' %}">Log out</a>

        <!-- </div> -->
    </div>
</div>
<div class="header">
    <div class="profile-pic-contain">
        <img src="{{ profile_pic.url }}" alt="" id="profile-pic">
    </div>
    <div class="header-content">

        <div class="username-settings">
            <h3>{{ username }}</h3>
            <button id="editProfileButton" class="btn btn-light"> <strong>Edit Profile</strong></button>
        </div>
        <div id="editProfileModal" class="modal">
            <div class="modal-edit-profile">
                <!-- Modal content goes here -->
                <span class="edit-close">&times;</span>
                <div class="change-content">
                    <form method="post" action="{% url 'edit' username %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="profile-pic-change">
                            <h6>Change Profile picture</h6>
                            <label for="fileInput" class="file-label">
                                <input id="fileInput" type="file" class="file-input" accept="image/*"
                                    name="profile_image">
                                <span class="file-button">Select from device</span>
                            </label>
                        </div>
                        <div class="change-bio">
                            <h6>Change bio</h6>
                            <textarea name="bio" id="change-bio" cols="30" rows="5"></textarea>
                        </div>
                        <button class="btn btn-dark" style="width: 50%; align-self: center;">Save</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="post-follow">
            <div class="posts">
                <p>{{post_count}}&nbsp;&nbsp;&nbsp;Posts</p>
            </div>
            <div class="followers">
                <p>{{following}}&nbsp;&nbsp;Followers</p>
            </div>
            <div class="following">
                <p>{{followers}}&nbsp;&nbsp;Following</p>
            </div>
        </div>
        <div class="bio">
            <h4>Bio</h4>
            <p> {{bio}}</p>
        </div>
    </div>
</div>
</div>
<div class="post-section">
    <div class="post-content">
        <div class="img-contain">
            {% for post in posts %}
            <img src="{{ post.image.url }}" alt="{{ post.caption }}" id="post-img" style="height: 350px;">
            {% endfor %}
        </div>
    </div>

</div>

{% endblock %}
{% block script %}
<script src="{% static 'js/home.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/edit_profile.js' %}"></script>
{% endblock %}