{% extends 'userApp/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/sidebar.css' %}">
{% endblock %}

{% block sidebar %}
<div id="searchDiv" class="showSearch">
    <input type="text" id="searchField" placeholder="Search...">
    <div id="searchResults">
        {% for name in userDataList %}
        <a href="#" class="btn btn-light search-name" id="search-id" data-search="{{ name }}">{{ name
            }}</a>
        {% empty %}
        <p>No search results found.</p>
        {% endfor %}
    </div>
    <!-- <div>hello</div> -->
    <!-- <button id="searchSubmit">Submit</button>x -->
</div>
<div class="sidebar" id="sidebar">
    <!-- <div class="dynamic-image">
        <img src="{% static 'login_register/images/home1.png' %}" alt="" id="animated-image">
    </div> -->
    <!-- <div class="offcanvas-body"> -->
    <a href="https://google.com" class="btn btn-light">Home</a>
    <a href="#" class="btn btn-light" id="searchBtn">Search</a>

    <!-- Button trigger modal -->
    <button id="myBtn" class="btn btn-light">Create</button>

    <!-- The Modal -->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>

            <form method="post" action="{% url 'posts' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <h3>Create new post</h3>
                {{ form.errors }}
                <label for="file-upload" class="btn btn-primary" id="but">
                    <i class="fas fa-cloud-upload-alt"></i> Select from your device
                </label>
                <input id="file-upload" type="file" style="display: none;" name="image">
                <textarea type="text" class="custom-input" name="caption" placeholder="Enter your caption"></textarea>
                <button id="myBtn2" class="btn btn-primary">Post</button>

            </form>


        </div>

    </div>

    <!-- Modal -->
    <a href="https://google.com" class="btn btn-light">Messages</a>
    <a href="{% url 'profile' %}" class="btn btn-light">Profile</a>
    <a href="{% url 'login' %}">Log out</a>

    <!-- </div> -->

</div>
{% endblock %}

{% block script %}
<script src="{% static 'js/home.js' %}"></script>
{% endblock %}