/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 7% auto; /* 15% from the top and centered */
  /* padding: 2%; */
  border: 1px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */
  height: 70%;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  width: 3%;
  align-self: flex-end;
  margin-right: 2%;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: space-between;
}
h3 {
  align-self: center;
}
#but {
  width: 65%;
  align-self: center;
}
#caption {
  width: 65%;
  height: 40%;
  align-self: center;
}
#myBtn {
  width: 80%;
}
#myBtn2 {
  width: 65%;
  align-self: center;
}
.custom-input {
  height: 40%;
  width: 65%;
  box-sizing: border-box;
  line-height: 40px;
  padding: 5px;
  vertical-align: top;
  align-self: center;
}
/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 15%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
  transition: width 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Sidebar links */
.sidebar a {
  display: block;
  padding: 16px;
  width: 80%;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: #04aa6d;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */

.sidebar.shrink {
  width: 8%;
}

.showSearch {
  position: absolute;
  top: 20%;
  left: 10%;
  display: flex;
  flex-direction: column;
}
#searchDiv {
  width: 15%;
}
.hidesearch {
  display: none;
  /* height: 100; */
  /* transition: width 0.3s ease-in-out; */
}
#searchResults {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#search-id {
  width: 100%;
}
.feed {
  width: 100%;
  display: flex;
  justify-content: center;
}
.feed-content {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid grey; */
  height: auto;
  border-bottom: none;
}
.post {
  height: 15%;
  padding: 2%;
}
#post-img {
  height: 80%;
  width: 100%;
}
.post > p {
  padding: 5%;
  height: 12%;
}
