* {
  --side: 9vw;
}
.header {
  display: flex;
  justify-content: center;
  height: 25%;
  padding: 2%;
}

.profile-pic-contain {
  display: flex;
  justify-content: center;
  width: 25%;
}
.profile-pic-contain img {
  width: var(--side);
  height: var(--side);
  border-radius: 50%;
}
#profile-pic {
  border: 1.5px black solid;
}
.header-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  height: 100%;
  align-self: center;
}
.username-settings {
  display: flex;
  justify-content: space-between;
}
.post-follow {
  display: flex;
  justify-content: space-evenly;
}
.post-section {
  width: 100%;
  display: flex;
  justify-content: center;
  /* height: fit-content; */
}
.post-content {
  width: 100%;
  /* height: 200px; */
  display: flex;
  justify-content: center;
}
.post-follow {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.post-follow p {
  margin: 0;
}
.img-contain {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 60%;
  height: 100%;
  grid-gap: 5px;
  border-top: 1px solid lightgrey;
  padding: 2%;
}

#post-img {
  width: 100%;
  height: 400px;
  border: none;

  /* object-fit: contain; */
}
.edit-close {
  color: #aaa;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-size: 28px;
  float: right;
  margin-right: 2%;
  margin-bottom: 20px;
  cursor: pointer;
}
.modal-edit-profile {
  border-radius: 5%;
  padding: 3%;
  height: 500px;
  background-color: #fefefe;
  margin: 7% auto;
  border: 1px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */
}
.profile-pic-change {
  display: flex;
  flex-direction: column;
}
.profile-pic-change h6 {
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
}
.profile-pic-change label {
  width: 50%;
}
.file-input {
  display: none;
}
.change-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 85%;
  width: 100%;
}
.change-content form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.file-label {
  display: inline-block;
  background-color: blue;
  margin: 0 auto;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 50%;
  text-align: center;
}
.file-label span {
  width: 100%;
  text-align: center;
}
.file-button {
  font-size: 16px;
  text-align: center;
}
.file-input {
  display: none;
}
.change-bio {
  display: flex;
  flex-direction: column;
}
.bio {
  height: 30%;
}
