.header {
  display: flex;
  justify-content: center;
  height: 25%;
  padding: 2%;
}

.header-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 45%;
  height: 100%;
  align-self: center;
}
.username-settings {
  display: flex;
  justify-content: space-evenly;
}
.post-follow {
  display: flex;
  justify-content: space-evenly;
}
.followers {
  display: flex;
  width: 15%;
  justify-content: space-evenly;
}
.following {
  display: flex;
  width: 15%;
  justify-content: space-evenly;
}
.posts {
  display: flex;
  width: 15%;
  justify-content: space-evenly;
}
.post-section {
  width: 100%;
  display: flex;
  justify-content: center;
  height: fit-content;
}
.post-content {
  width: 74%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 2%;
}
.grid-item{
  width: 100%;
}
.img-contain{
  width: 100%;
  height: 50%;
}
#post-img{
  width: 100%;
  min-height: 100%;
}
